*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' Sans-Serif;
}

body{
    margin: 0;
    height: 100vh;
    background-color: #0D0D3C;
    /*background-image: url('https://github.com/CiaoMrnngstr/Java/assets/160130271/27af34f8-6117-40e3-8553-76b55ac4dcc3');*/
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color:orange;
}

header{
    background-color: #191970;
    text-align: center;
    position: relative;
    padding: 8px;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
/* oblong keneme */
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;

}

.action_btn:active {
    scale: 0.95;
}
/* menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    height: 0;
    background: rgba(255, 245, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* mero*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/*
aside#mero{
    float: none;
    width: 100%;
    padding: 10px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
} 
#mero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

section#hero{
    float: none;
    width: 100%;
    padding: 10px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    color: #fff;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
} 
article#lero{
    float: none;
    width: 100%;
    padding: 10px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#lero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* respo design */

aside{
    width: 35%;
    float: left;
    padding: 10px;
    color: #fff;

  }
  section{
    width:30%;
    float: left;
    padding:10px;
    color: #fff;

  }
  article{
    width:35%;
    float: left;
    padding:10px;
    color: #fff;

  }

  footer{
    background-color: hsl(0, 0%, 50%);
    clear: both;
    text-align: center;
    padding: 25px;
  }


@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    aside#mero,
    section#hero,
    article#lero {
        padding: 0; 
        text-align: center;
    }
    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
  }